/* styles.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f7; /* iOS background color */
    overflow: hidden;
}

.container {
    text-align: center;
}

.title {
    font-size: 3rem;
    color: #000; /* iOS title color */
    text-shadow: none; /* Remove text shadow */
    margin-bottom: 20px; /* Add some space below the title */
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    color: #007aff; /* iOS button text color */
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid #007aff; /* iOS button border color */
    border-radius: 8px; /* iOS button border radius */
    transition: color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    color: #fff; /* Change button text color on hover */
    background-color: #007aff; /* Change button background color on hover */
    transform: translateY(-3px);
}

footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #666; /* iOS footer text color */
    font-size: 0.8rem;
}
